.container-fluid{
    margin-bottom: 4rem;
}

.cardContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 0 auto;
    padding: 1.5rem;
}

.rowContainerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.rowLeftContainer{
    width: 50%;
    text-align: center;
}

.rowRightContainerRow{
    text-align: center;
    width: 50%;
}

.moreInformation{
    cursor: pointer;
    text-align: center;
    padding-top: 1rem;
}

.moreInformation:hover{
    font-size: 1.04rem;
}

.imageTvShowDetail{
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.imagesSamllTvShowDetail{
    width: 100%;
}

.imagesSamllTvShowDetail:hover{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    width: 105%;
    border: 1px solid black;
}

.imageTvShowDetail{
    width: 80%
}

.rowLeftContainer{
    width: 50%;
    padding: 1rem;
}

.rowRightContainerColumn{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
}

.rowContainerCenter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textLinks{
    padding-top: 1rem;
}

.links{
    text-align: center!important;
    padding-top: 1rem;
}

.tvShowIcon{
    width: 10%!important;
    border: none!important;
    padding: 0.8rem;
}
