.container-fluid {
  margin-bottom: 4rem;
}

.cardContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
}

.rowContainerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rowLeftContainer {
  width: 50%;
  text-align: center;
  padding: 1rem;
}

.rowRightContainerRow {
  text-align: center;
  width: 50%;
}

@media (max-width: 768px) {
  .cardContainer {
    padding: 0.2rem;
  }

  .table,
  .rowRightContainerColumn {
    font-size: 60%;
  }

  .data {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 24;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.moreInformation {
  cursor: pointer;
  text-align: center;
  padding-top: 1rem;
}

.moreInformation:hover {
  font-size: 1.04rem;
}

.imagesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.imageTvShowDetail {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.imagesSamllTvShowDetail {
  width: 100%;
}

.imagesSamllTvShowDetail:hover {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  width: 105%;
  border: 1px solid black;
}

.imageTvShowDetail {
  width: 90%;
}

.rowRightContainerColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
}

.rowContainerCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titleButtonsSection {
  padding-top: 2rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  text-align: center !important;
  padding: 1rem;
  width: 60%;
}

@media (max-width: 768px) {
  .buttonsContainer {
    width: 90%;
  }

  .detailButton {
    font-size: smaller;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
