.footerWrapper {
  margin-top: 2rem;
}

.footerRows {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-3 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

p {
  margin-bottom: 0rem;
}

.socialMediaWrapper {
  margin-bottom: 0 !important;
}

.footerText {
  font-size: 12pt;
}
