.container-fluid {
  margin: 2rem auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 95%;

  .isLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
  padding-bottom: 0rem;
}

.pageTitle {
  margin: 1.2rem;
}

.rowContainerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.rowLeftContainer {
  width: 60%;
  padding: 1rem;

  .field {
    width: 20%;
  }
}

.rowRightContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
}

.field {
  width: 8rem;
}

.buttonPosition {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
