<div class="container-fluid">

  <div *ngIf="isLoading" class="d-flex d-flexSpinner justify-content-center">
      <div class="spinner-border text-info" role="status">
          <span class="sr-only">{{texts.loading}}</span>
      </div>
  </div>

  <div *ngIf="!isLoading">
    <div class="row-fluid pageTitle">
      <h2>{{texts.seriesViendoHeader}}</h2>
    </div>

    <div *ngIf="watchingTvShows.length != 0">
      <div class="searchContainer">
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSearch($event)">
          <input type="text" class="form-control mr-sm-2" placeholder="{{texts.anadePalabra}}" name="searchName" value="" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 buttonStyle" type="submit" >{{texts.search}}</button>
        </form>
      </div>
      <p class="searchText">{{texts.buscaSerieListado}}</p>
    </div>

    <div *ngIf="watchingTvShows.length == 0" class="noWatchingTvShows">
      <h3 *ngIf="isSearched else notSearched">{{texts.noTvShowsFound}}<strong>{{searchName}}</strong>
        <div class="form-group row rowForm buttonPosition">
          <button class="btn btn-primary buttonStyle buttonContainer" (click)="loadWatchingTvShows()">{{texts.vuelveAlListado}}</button>
        </div>
      </h3>
      <ng-template #notSearched><h3>{{texts.noTvShows}}</h3></ng-template>
    </div>

    <div class="row d-flex justify-content-center groupCards">
      <div *ngFor="let watchingTvShow of watchingTvShows">
        <div class="blog-card watchingTvShowCard">
          <div class="meta">
            <div class="photo">
              <img class="card-img-top cursorPointer" src="{{watchingTvShow.tvShow.image}}" alt="Card image cap">
            </div>
            <ul class="details">
              <li class="link"><a [routerLink]="['/finishedTvShowsForm/', watchingTvShow.tvShow.id]">{{texts.enviarVistas}}</a></li>
              <li class="link"><a data-toggle="modal" data-target="#deleteConfirmDialog" (click)="setWatchingTvShowIdToDelete(watchingTvShow.id)">{{texts.eliminarSerie}}</a></li>
            </ul>
          </div>
          <div class="data">
              <h1>{{watchingTvShow.tvShow.name}}</h1>
              <h2 style='text-align: right;'>{{texts.episodioVistoCard}}<span>{{watchingTvShow.episodeWatched}}</span> <span style='color: skyblue; font-size: larger;'> -- </span> {{texts.temporadaViendoCard}} <span>{{watchingTvShow.seasonWatched}}</span></h2>
              <p>{{watchingTvShow.tvShow.sinopsis}}</p>
              <p>{{texts.estadoSerie}} <strong *ngIf="watchingTvShow.tvShow.status == 'Running' else ended">{{texts.grabando}}</strong><ng-template #ended><strong>{{texts.finalizada}}</strong></ng-template></p>
              <p class="update-link">
                <a [routerLink]="['/watchingTvShowsForm/', watchingTvShow.tvShow.id]"><strong style='font-size: large;'>{{texts.modificaDatos}}</strong></a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmDialogCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmDialogLongTitle" style="color:black">{{texts.eliminarTvShowModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span style="color: black">{{texts.eliminarTvShowModalBody}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{texts.no}}</button>
          <button type="button" (click)="deleteTvShow()" class="btn btn-primary" data-dismiss="modal">{{texts.si}}</button>
        </div>
      </div>
    </div>
  </div>
</div>





