<div class="container-fluid">

  <div *ngIf="isLoading" class="d-flex d-flexSpinner justify-content-center">
      <div class="spinner-border text-info" role="status">
          <span class="sr-only">{{texts.loading}}</span>
      </div>
  </div>

  <div *ngIf="!isLoading">
    <div class="row-fluid pageTitle">
      <h2>{{texts.seriesViendo}}</h2>
    </div>

    <div class="row d-flex justify-content-center groupCards">
      <div *ngFor="let watchingTvShow of watchingTvShows">
        <div class="blog-card">
          <div class="meta">
            <div class="photo">
              <img class="card-img-top cursorPointer" src="{{watchingTvShow.tvShow.image}}" alt="Card image cap">
            </div>
            <ul class="details">
              <li class="author"><a (click)=navigateToWatchingTvShowForm()>{{texts.enviarVistas}}</a></li>
              <li class="author"><a (click)=deleteTvShow()>{{texts.eliminarSerie}}</a></li>
            </ul>
          </div>
          <div class="data">
              <h1>{{watchingTvShow.tvShow.name}}</h1>
              <h2><span>{{texts.episodioVistoCard}}{{watchingTvShow.episodeWatched}} <strong style='color: skyblue; font-weight: bold'>/</strong > {{texts.temporadaViendoCard}} {{watchingTvShow.seasonWatched}}</span></h2>
              <p>{{watchingTvShow.tvShow.sinopsis}}</p>
              <p>{{texts.estadoSerie}} {{watchingTvShow.tvShow.status}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>





