.formContainer {
  width: 80%;
  margin: 2rem auto;
}

.fieldsRequired {
  color: skyblue;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

.locationContainer {
  width: 80%;
  margin-top: 0.6rem !important;
  margin: 0 auto;
  text-align: left;
}

.mediaContainer {
  width: 80%;
  margin-top: 1.8rem !important;
  margin: 0 auto;
  text-align: center;
}

.typeMedia {
  display: flex;
  vertical-align: middle;
}

.select {
  display: inline-block !important;
}

.buttonMargin {
  margin-top: 2rem;
  margin-left: 42%;
}
