<!-- <app-header></app-header> -->

<div class="container-fluid">

    <div class="row-fluid pageTitle">
      <!-- <h2>{{texts.pageTitle}}</h2> -->

      <h2 *ngIf="userEmpty">Crear nueva cuenta de usuario</h2>

      <h2 *ngIf="!userEmpty">Actualizar cuenta de usuario</h2>
    </div>
  
    <div class="justify-content-center formContainer">
      <div class="fieldsRequired">Todos los campos son requeridos</div>

        <form (ngSubmit)='saveData()'>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Nombre</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Nombre" [(ngModel)]='user.name' name="name" >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputSurName">Apellido</label>
                    <input type="text" class="form-control" id="inputSurName" placeholder="Apellido" [(ngModel)]='user.surname' name="surname" >
                  </div>
            </div>

            <div class="form-row ">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Correo electrónico
                  <span class="form-group errorMessageEmail" *ngIf="!validateEmail">El email debe tener un formato correcto</span>
                </label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]='user.email' name="email" >
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password" [(ngModel)]='user.password' name="password" >
              </div>
            </div>            

            <div class="form-row locationContainer">
              <div class="form-group col-md-6">
                <label for="inputUserName">UserName</label>
                <input type="text" class="form-control" id="inputUserName" [(ngModel)]='user.userName' name="userName" >
              </div>
              <div class="form-group col-md-6">
                <label for="inputLocation">Localidad</label>
                <input id="inputLocation" class="form-control" [(ngModel)]='user.location' name="location" >
                  
              </div>
              <!-- <div class="form-group col-md-4">
                <label for="inputAvatar">Elige una imagen</label>
                <input type="text" class="form-control" id="inputAvatar" [(ngModel)]='user.avatar' name="avatar" >
              </div> -->
            </div>

            <div class="form-row mediaContainer">
                <div class="form-group col-md-6 typeMedia">
                  <label for="inputType" class="col-md-7 select">¿Qué programa prefieres?</label>
                  <select class="custom-select col-md-5" [(ngModel)]='user.typeMedia' name="typeMedia">
                    <option value="Películas">Películas</option>
                    <option value="Series">Series</option>
                    <option value="Documentales">Documentales</option>                                            
                  </select> 
                </div>

                <div class="form-group col-md-6 typeMedia">
                  <select class="custom-select col-md-5" [(ngModel)]='user.genre' name="genre">
                        <option value="Acción">Acción</option>
                        <option value="Aventuras">Aventuras</option>
                        <option value="Bélicas">Bélicas</option>                        
                        <option value="Ciencia ficción">Ciencia ficción</option>
                        <option value="Comedia">Comedia</option>
                        <option value="De terror">De terror</option>
                        <option value="Dramática">Dramática</option>
                        <option value="Musicales">Musicales</option>
                        <option value="Románticas">Románticas</option>                        
                        <option value="Thriller">Thriller</option>
                        <option value="Western">Western</option>                                                
                  </select>
                  <label for="inputType" class="col-md-7 select">¿Qué género te gusta más?</label>
                    
                </div>
            </div>

            <div class="errorMessage" *ngIf="!validateForm">Debes rellenar todos los campos</div>

            <button type="submit" class="btn btn-primary buttonStyle buttonContainer buttonMargin">Guardar cambios</button>
          </form>

    </div>
</div>




