.container{
    width: 100%;
}

.pageTitle{
    margin: 1.2rem;
}

.groupCards{
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
}

.cards{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 12px -9px rgba(0,0,0,0.39);     
    padding: 0.5rem;
    margin:1rem;    
    text-align: center;
       
}

.card-title{
    margin-top: 0.8rem;
}

.bodyCard{
    width: 100%;
    margin-bottom: 0.5rem;
}

.linksContainer{
    text-align: center;
    width: 100%;
}

.tvShowIcon{
    width: 25%;
    border: none!important;
    padding: 0.3rem;
}



