.container-fluid{
    width: 70%;
    margin: 2rem auto;
}

.tableContainer{
    margin-top: 2rem;
}

td{
    padding-left: 2rem !important;
    width: 50%;
}

.field{
    text-align: right;
}

.data{
    font-weight: bold;
}

.buttonsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer{
    margin-top: 2rem;
    width: 20%;
}
