

.modal-content{
    color: white;
    align-items: center!important;
    margin-top: 5rem;
    background-color: rgb(53, 58, 64)!important;
    border: skyblue 2px solid;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: .75;
}

.user-img{
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.avatarLoging{
    width: 10rem;
    height: 10rem;
}

.form-group input {
    height: 2.8rem;
    font-size: 18px;
    margin-bottom: 1.5rem;
    border-radius: 0.7rem;
}

.errorMessage{
    font-style: italic;
    font-size: 1rem;
    color: skyblue;
    margin-left: 0.75rem;
    margin-top: -1rem;
}

.buttonMargin{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.createButton{
    margin-top: 0.3rem;
}

