
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="user-img">
        <img class='avatarLoging' src="../../../assets/images/loginAvatar2.png"/>
      </div>

      <form class="col-11 formaContainer">
        <div class="form-group" id="user-group">
          <input type="text" class="form-control" id="exampleInputUserName" placeholder="Username">
        </div>

        <div class="form-group" id="password-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="centerContainer">
          <button type="submit" class="btn btn-primary col-6 buttonStyle buttonContainer buttonMargin"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
        </div>

        
      </form>

      <div class="col-11 centerContainer">
        <a href="#" class="forgottenPwd">Recordar contraseña</a>
      </div>
    </div>
  </div>




      