.container-fluid{
  margin: 2rem auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 4rem; */
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
}

.pageTitle{
  margin: 1.2rem;
}

.rowContainerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.rowLeftContainer{
  width: 60%;
  padding: 1rem;

  .field {
    width: 20%
  }
}

.rowRightContainer{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
}

.buttonPosition{
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.plataformasLabel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform{
  width: 2.5rem;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}
