.container-fluid{
  margin: 2rem auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 4rem; */
}

/* .finishedTvShowFormContainer{
  width: 95% !important;
} */

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
}

.pageTitle{
  margin: 1.2rem;
}

.rowContainerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.rowLeftContainerRow{
  width: 45%;
  text-align: center;
}

.rowLeftContainerCenter{
  width: 45%;
  padding: 1rem;
}

.rowRightContainerRow{
  text-align: center;
  width: 55%;
}

.rowRightContainerColumn{
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 1rem;
}

.buttonPosition{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
