@font-face {
    font-family: 'myFirstFont'; /*a name to be used later*/
    src: url('./assets/fonts/NotoSans-Regular.ttf'); /*URL to font*/
}

body{
    background: url('./assets/images/waves.png') no-repeat center center fixed;
    background-size: cover;
    color: white !important;
    background-size: 100%;
    font-family: myFirstFont;
    /* background-attachment: fixed; */
    /* font-family: Arial, Helvetica, sans-serif; */}

h2{
    text-align: center;
    margin-top: 2%;
}

.centerContainer{    
    text-align: center;
}

/* Styles for error messages */
.errorMessage{
    font-style: italic;
    font-size: 1rem;
    color: skyblue;
}

.errorMessageEmail{
    font-style: italic;
    font-size: 0.9rem;
    color: skyblue;
    text-align: right;
    margin-left: 0.4rem;
}

/* Styles for spinner */
.d-flexSpinner{
    position:absolute;
    left:50%;
    top:50%;
}

.spinner-grow{
    vertical-align: middle;
    width: 25rem;
    height: 25rem;
}

/* Styles for buttons */
.buttonContainer{
    padding: 0.8rem 1.6rem !important;
}

.buttonStyle{
    background: none !important;
    color: skyblue!important;
    border: 1px solid skyblue !important;    
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.buttonStyle:hover{
    background-color: skyblue!important;
    color: rgb(48, 48, 48)!important;
    border: none!important;
}

.buttonStyle:active{
    background-color: lightsteelblue!important;
    color: rgb(48, 48, 48)!important;
    border: red 1px solid;
}

.buttonStyle:visited{
    background-color: lightsteelblue!important;
    color: rgb(48, 48, 48)!important;
    border: none!important;
}
